@font-face {
  font-family: "Antique";   /*Can be any text*/
  src: local("Antique"),
    url("./font/Antique-Olive-Bold_3863.tff") format("tff");
}


:root {
  --color-white: #fafafa;
  --color-black: #000000;
  --color-blue: #36B4E5;

  --biggest-font-size: 2.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --p-font-size: 1.125rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;

  --font-regular: 400;
  --font-semi-bold: 600;
  --font-bold: 700;
}

* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--color-blue);
  border-bottom: 1px solid var(--color-blue);
  font-family: 'Anton', sans-serif;
  letter-spacing: 1px;
}

li {
  list-style: none;
}

.blue {
  color: var(--color-blue);
}

.black {
  color: var(--color-black);
}

button {
  border: none;
}

img, video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

body {
  background-color: var(--color-black);
}

/* nav styles */
.navbar {
  padding: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav--menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 7rem;
}

.menu--btn {
  color: #ffffff;
}

.header{
  margin-bottom: 3rem;
}

.header--vid {
  padding: 0 1rem;
}

/* coder styling */
.coder {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
}

.title {
  font-size: 5rem;
  letter-spacing: .25rem;
  font-family: 'Anton', sans-serif;
}

.description {
  color: var(--color-white);
  text-align: center;
  padding: 0 5rem;
  font-family: 'Inter', sans-serif;
  margin-bottom: 3rem;
  font-weight: 300;
}

.description span {
  font-weight: 700;
}

.btn {
  background-color: var(--color-blue);
  padding: .5rem 4rem;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 900;
  font-size: var(--h2-font-size);
  font-family: 'Anton', sans-serif;
  margin-bottom: 3rem;
}

/* devoder styling */
.decoder {
  padding-top: 3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
  background-color: var(--color-white);
}

.description2 {
  color: var(--color-black);
  text-align: center;
  padding: 0 5rem;
  font-family: 'Inter', sans-serif;
  margin-bottom: 3rem;
  font-weight: 300;
}

.description2 span {
  font-weight: 700;
}

/* about styling */
.about {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
  gap: 1rem;
  margin-bottom: 3rem;
}

.bio {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: var(--color-white);
}

.bio--title {
  font-size: var(--biggest-font-size);
  font-family: 'Anton', sans-serif;
  margin-bottom: 1rem;
}

.bio--description {
  font-family: 'Inter', sans-serif;
  margin-bottom: 3rem;
  font-weight: 300;
}

/* who styling */
.section--who {
  background-color: var(--color-white);
  padding: 1rem;
  padding-top: 3rem;
  gap: 1rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.who--title {
  font-size: var(--biggest-font-size);
  font-family: 'Anton', sans-serif;
  margin-bottom: 1rem;
}

.cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.who--img {
  max-width: 300px;
}

.name--job {
  font-size: var(--p-font-size);
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  margin-bottom: 3rem;
}

/* copyright */
.copyright {
  margin-bottom: 1rem;
  font-weight: 300;
  color: var(--color-white);
  text-align: center;
  font-family: 'Inter', sans-serif;
}

.copyright i {
  color: var(--color-white);
}